 <%=render 'shared/page_title', title: @recipe.name %>

<div class="well col_md_8 col_md_offset_2">
<h4  class="center description"	><strong>Steps: </strong></h4>
<hr />
<%= simple_format(@recipe.description) %>
<hr />
<div class = "pull_right">
<p class="center">
<p>
	<em>Created by:</em>
</p>
<p class="center">
<%= link_to gravatar_for(@recipe.chef), recipes_path %>
</p>
<p class="center"> 
<small><%= @recipe.chef.chefname.capitalize%></small>
<div class="pull-right"><%=time_ago_in_words(@recipe.created_at) %>ago</div>
</p>
</div>
<div class="recipe-action">
<%= link_to "Edit this recipe", edit_recipe_path(@recipe), class: "btn btn-xs btn-warning" %>
<%= link_to "Delete this recipe", edit_recipe_path(@recipe), method: :delete,

                                  data: {confirm: "Are u sure you want to delete this recipe! "},
                                  class: "btn btn-xs btn-danger" %>
<%= link_to "return to recipes listing", recipes_path, class: "btn btn-xs btn-primary" %> 
</div>
</div>